@font-face {
    font-family: "SF Pro";
    src: "./Fonts/SFPRODISPLAYREGULAR.OTF";
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: rgb(167, 167, 167);
}

.operator {
    background-color: rgb(255, 145, 0);
    border-color: rgb(255, 145, 0);
    color: white;
}

.misc-button {
    background-color: rgb(231, 231, 231);
    border-color: rgb(231, 231, 231);
    color: black;
}

.digit {
    background-color: rgb(75, 75, 75);
    border-color: rgb(75, 75, 75);
    color: white;
}

#calc-body {
    background-color: black;
    height: 800px;
    width: 450px;
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    padding-bottom: 65px;
    font-family: "SF Pro";
}

#display {
    color: white;
    font-size: 92px;
    font-weight: 300;
    padding-right: 10px;
    background-color: black;
    width: 85%;
    height: 180px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

button {
    height: 85px;
    width: 85px;
    border-width: 15px;
    border-style: solid;
    border-radius: 50%;
    margin: 7px;
    font-size: 36px;
    font-family: "SF Pro";
}

#zero {
    width: 184px;
    border-radius: 40px;
    text-align: left;
    padding-left: 15px;
}

#equals {
    background-color: rgb(255, 145, 0);
    border-color: rgb(255, 145, 0);
    color: white;
}